{% extends 'base.html' %}
{% load static %}
        {% block content %}




        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">Estas a un paso de obtenerlo</h1>
                            </header>
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="fs-5 text mb-4" style="text-align: justify;">Lo que tienes que hacer para poder acceder al curso necesitas realizar los pasos siguientes :
                                </p>
                                <ul class="list-group fs-5 m-5">
                                    <li class="list m-1" style="text-align: justify;">Asimilar los fundamentos básicos
                                        del marketing y la publicidad.</li>
                                    <li class="list m-1" style="text-align: justify;">Entender cómo se emplean las redes
                                        sociales y las vías digitales para fomentar la comercialización de una marca.
                                    </li>
                                    <li class="list m-1" style="text-align: justify;">Identificar los procesos asociados
                                        a la formulación de un plan de marketing.</li>
                                    <li class="list m-1" style="text-align: justify;">Entender cómo se aplica el
                                        marketing digital en Facebook, Instagram, TikTok, Twitter, WhatsApp y Youtube.
                                    </li>
                                    <li class="list m-1" style="text-align: justify;">Aplicar una serie de estrategias
                                        orientadas a la comercialización de una marca por medio del marketing digital.
                                    </li>
                                </ul>
                            </section>
                        </article>
                    </div>
                    <!-- <div class="col-lg-3">
                                <div class="d-flex align-items-center mt-lg-5 mb-4">
                                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                        alt="..." />
                                    <div class="ms-3">
                                        <div class="fw-bold">Valerie Luna</div>
                                        <div class="text-muted">News, Business</div>
                                    </div>
                                </div>
                            </div> -->
                </div>
            </div>
        </section>


        {% endblock%}