{% extends 'base.html' %}
{% load static %}
        {% block content %}
        <!-- Body-principal-->
        <header class="bg-primary py-5">
            <div class="container px-5 ">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Curso de Liderazgo Empresarial</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Conviértete en un líder innovador</p>

                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6  text-center">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/Y0Ar2RwGHL8"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Body-principal-->
        <!-- Features section-->

        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">Qué aprenderás</h1>
                            </header>
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="fs-5 text mb-4" style="text-align: justify;">En este curso de liderazgo
                                    aprenderás una serie de técnicas y estrategias para influenciar en otros sujetos, en
                                    miras de lograr un objetivo en común. Es fácil de aprender y solo se requiere tener
                                    conocimientos elementale
                                </p>
                                <p class="fs-5 mb-4" style="text-align: justify;"> En consecuencia, en este curso aprenderás: </p>
                                <ul class="list-group fs-5 m-5">
                                    <li class="list m-1" style="text-align: justify;">Los principales programas de
                                        gestión de recursos humanos para la mejora e innovación continua</li>
                                    <li class="list m-1" style="text-align: justify;">A utilizar las principales
                                        herramientas de trabajo en grupo para identificar problemas, buscar alternativas
                                        y priorizarlas en un plan de acción
                                    </li>
                                    <li class="list m-1" style="text-align: justify;">A liderar y gestionar equipos de
                                        forma participativa y motivadora</li>
                                    <li class="list m-1" style="text-align: justify;">A autodiagnosticar tus
                                        competencias de liderazgo y de innovación
                                    </li>
                                    <li class="list m-1" style="text-align: justify;">A evaluar la capacidad de
                                        liderazgo e innovación en los demás
                                    </li>
                                </ul>
                            </section>
                        </article>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                alt="..." />
                            <div class="ms-3">
                                <div class="fw-bold">Valerie Luna</div>
                                <div class="text-muted">News, Business</div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Programa del curso</h1>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <!-- FAQ Accordion 1-->
                        <h2 class="fw-bold mb-3">Unidad 1</h2>
                        <ul class="list-group fs-5 m-5">

                            <li class="list m-1 fs-5" style="text-align: justify;">Fundamentos, modelos y generalidades del liderazgo
                            </li>
                            <li class="list m-1" style="text-align: justify;">Competencias y habilidades del líder efectivo</li>
                            
                            </li>
                        </ul>
                        <!-- FAQ Accordion 2-->
                        <h2 class="fw-bolder mb-3">Unidad 2</h2>
                        <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                            <ul class="list-group fs-5 m-5">
                                <li class="list m-1" style="text-align: justify;">Técnicas, estrategias para desarrollar competencias para el liderazgo</li>
                                <li class="list m-1 fs-5" style="text-align: justify;">El liderazgo aplicado a diferentes ámbitos
                                </li>
                            </ul>
                        </div>
                        <!-- FAQ Accordion 2-->
                        <!-- <h2 class="fw-bolder mb-3">Unidad 3</h2>
                        <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                            <ul class="list-group fs-5 m-5">
                                <li class="list m-1" style="text-align: justify;">Marketing digital en Twitter.</li>
                                <li class="list m-1 fs-5" style="text-align: justify;">Marketing digital en Instagram.
                                </li>
                                <li class="list m-1" style="text-align: justify;">Marketing digital en Tik Tok.
                                </li>
                                <li class="list m-1" style="text-align: justify;">Estrategias, formulación y
                                    herramientas de marketing digital.
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial section-->
        <!-- <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"Working with Start Bootstrap templates has saved me tons
                                of development time when building new projects! Starting with a Bootstrap template just
                                makes things easier!"</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d"
                                    alt="..." />
                                <div class="fw-bold">
                                    Tom Ato
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    CEO, Pomodoro
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
{% endblock %}