{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container px-5 my-5">
    <div class="row gx-5">
        <div class="col-lg-">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-5">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1 text-center">AVISO DE PRIVACIDAD</h1>
                </header>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 text my-5" style="text-align: justify;">En cumplimiento con la Ley Federal de
                        Protección de Datos
                        Personales en Posesión de Particulares y su Reglamento, se emite el presente aviso de privacidad
                        en relación a los datos personales que sean recabados a través de la página web de la Academia
                        de Emprendimiento.
                    </p>
                    <ul class="list-group fs-6 m-2">
                        <!-- Seccion 1 -->
                        <h3 class="fs-4 mb-3 mt-4">RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</h3>
                        <li class="list m-1" style="text-align: justify;">El responsable del tratamiento de los datos
                            personales es la Academia de Emprendimiento, con
                            domicilio en ___________ y correo electrónico ___________.</li>

                        <!-- Seccion 2 -->
                        <h3 class="fs-4 mb-3 mt-4">DATOS PERSONALES QUE SERÁN RECABADOS</h3>
                        <p>La Academia de Emprendimiento podrá recabar los siguientes datos personales a través de la
                            Página Web:</p>
                        <li class="list m-1" style="text-align: justify;">Nombre y apellido</li>
                        <li class="list m-1" style="text-align: justify;">Dirección de correo electrónico</li>
                        <li class="list m-1" style="text-align: justify;">Número telefónico</li>
                        <li class="list m-1" style="text-align: justify;">Información sobre su empresa o proyecto de
                            emprendimiento</li>
                        <li class="list m-1" style="text-align: justify;">Otros datos que el usuario proporcione
                            voluntariamente</li>
                        <!-- Seccion 3 -->
                        <h3 class="fs-4 mb-3 mt-4">FINALIDADES DEL TRATAMIENTO DE DATOS PERSONALES.</h3>
                        <p>Los datos personales que sean recabados a través de la Página Web serán utilizados para las
                            siguientes finalidades:</p>
                        <li class="list m-1" style="text-align: justify;">Contactar al usuario para brindarle
                            información sobre los servicios de la Academia de Emprendimiento.</li>
                        <li class="list m-1" style="text-align: justify;">Gestionar el registro del usuario en la
                            plataforma en línea de la Academia de Emprendimiento.</li>
                        <li class="list m-1" style="text-align: justify;">Enviar información promocional y publicitaria
                            sobre los servicios de la Academia de Emprendimiento.</li>
                        <li class="list m-1" style="text-align: justify;">Evaluar la calidad de los servicios ofrecidos
                            por la Academia de Emprendimiento</li>

                        <!-- Seccion 4 -->
                        <h3 class="fs-4 mb-3 mt-4">TRANSFERENCIA DE DATOS PERSONALES.</h3>
                        <li class="list m-1" style="text-align: justify;">La Academia de Emprendimiento podrá transferir
                            los datos personales que sean recabados a través de la Página Web a terceros proveedores de
                            servicios con los que tenga una relación contractual para cumplir con las finalidades
                            descritas en el apartado anterior.</li>

                        <!-- Seccion 5 -->
                        <h3 class="fs-4 mb-3 mt-4">MEDIDAS DE SEGURIDAD.</h3>
                        <li class="list m-1" style="text-align: justify;">La Academia de Emprendimiento ha implementado
                            medidas de seguridad físicas, técnicas y administrativas para proteger los datos personales
                            que sean recabados a través de la Página Web y evitar su pérdida, uso indebido, alteración o
                            divulgación.</li>

                        <!-- Seccion 6 -->
                        <h3 class="fs-4 mb-3 mt-4">EJERCICIO DE DERECHOS ARCO.</h3>
                        <li class="list m-1" style="text-align: justify;">El usuario podrá ejercer en todo momento sus
                            derechos de acceso, rectificación, cancelación y oposición (derechos ARCO) en relación a sus
                            datos personales, así como revocar el consentimiento otorgado para el tratamiento de los
                            mismos, mediante una solicitud por escrito enviada al correo electrónico ___________. La
                            solicitud deberá contener la siguiente información:</li>
                        <p>Nombre completo del usuario, datos de contacto, descripción clara y precisa de los datos
                            personales respecto de los que se busca ejercer alguno de los derechos ARCO, y cualquier
                            otro elemento que facilite la localización de los datos personales.</p>

                        <!-- Seccion 7 -->
                        <h3 class="fs-4 mb-3 mt-4">CAMBIOS AL AVISO DE PRIVACIDAD.</h3>
                        <li class="list m-1" style="text-align: justify;">La Academia de Emprendimiento se reserva el
                            derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso
                            de privacidad, en atención a cambios en la legislación o en las políticas internas de la
                            Academia de Emprendimiento. En caso de que se realice alguna modificación al aviso de
                            privacidad, se publicará una versión actualizada en la Página Web.</li>
                        <!-- Seccion 8 -->
                        <h3 class="fs-4 mb-3 mt-4">ACEPTACIÓN DEL AVISO DE PRIVACIDAD.</h3>
                        <li class="list m-1 " style="text-align: justify;">El usuario acepta que sus datos personales
                            sean tratados de acuerdo con los términos y condiciones del presente aviso.</li>
                    </ul>
                </section>

            </article>
        </div>
    </div>
</div>
</section>

{% endblock %}