{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1 text-center">TÉRMINOS Y CONDICIONES</h1>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 text mb-4" style="text-align: justify;">Antes de utilizar nuestros servicios, por
                            favor, lea atentamente los siguientes términos y condiciones. Al utilizar nuestra página
                            web, acepta cumplir y estar sujeto a estos términos y condiciones.
                        </p>
                        <ul class="list-group fs-5 m-5">
                            <li class="list m-1" style="text-align: justify;">Propiedad de la página web: Esta página
                                web y todo su contenido
                                es propiedad exclusiva de nuestra compañía. Todo el contenido, incluyendo, pero no
                                limitado a texto, gráficos, fotografías, imágenes, videos, música y software, está
                                protegido por
                                derechos de autor y otras leyes de propiedad intelectual.</li>
                            <li class="list m-1" style="text-align: justify;">Registro y pago: Para poder acceder a los
                                cursos, deberá
                                registrarse y pagar la tarifa correspondiente. El registro se realizará a través de un
                                formulario en línea y el pago se efectuará mediante una plataforma de pago segura. Usted
                                es
                                responsable de asegurarse de que toda la información proporcionada durante el registro
                                sea
                                precisa y completa.
                            </li>
                            <li class="list m-1" style="text-align: justify;">Contenido de los cursos: Los cursos
                                ofrecidos en nuestra página
                                web están diseñados para ayudarle a mejorar sus habilidades en marketing en redes
                                sociales.
                                No garantizamos ningún resultado específico y no somos responsables de ningún resultado
                                negativo que pueda obtener después de completar el curso.</li>
                            <li class="list m-1" style="text-align: justify;">Propiedad intelectual: Todos los
                                contenidos de los cursos son
                                propiedad exclusiva de nuestra compañía y están protegidos por derechos de autor y otras
                                leyes de propiedad intelectual. No se permite la reproducción, distribución o venta de
                                ningún contenido del curso sin el consentimiento explícito por escrito de nuestra
                                compañía.
                            </li>
                            <li class="list m-1" style="text-align: justify;">Cancelaciones y reembolsos: Si necesita
                                cancelar su registro para
                                un curso, por favor, póngase en contacto con nosotros. Los reembolsos están sujetos a
                                nuestra política de cancelación y se procesarán en un plazo de 7 días hábiles después de
                                recibir su solicitud de cancelación.
                            </li>
                            <li class="list m-1" style="text-align: justify;">Modificaciones de los términos y
                                condiciones: Nos reservamos el
                                derecho de modificar estos términos y condiciones en cualquier momento y sin previo
                                aviso.
                                Cualquier modificación será efectiva inmediatamente después de la publicación de los
                                términos y condiciones modificados en nuestra página web.
                            </li>
                            <li class="list m-1" style="text-align: justify;">Limitación de responsabilidad: No seremos
                                responsables de ningún
                                daño directo, indirecto, especial o consecuente que resulte del uso o la imposibilidad
                                de
                                usar nuestra página web o cualquier contenido o servicio ofrecido en nuestra página web.
                            </li>
                            <li class="list m-1" style="text-align: justify;">Jurisdicción y ley aplicable: Estos
                                términos y condiciones se
                                regirán e interpretarán de acuerdo con las leyes de [país donde se encuentra registrada
                                la
                                compañía] y cualquier disputa que surja en relación con estos términos y condiciones
                                será
                                resuelta exclusivamente por los tribunales competentes de la ciudad donde se encuentra
                                registrada la compañía.
                            </li>
                        </ul>
                    </section>
                    <h3 class="fw-bolder mb-1">Al utilizar nuestra página web, usted acepta cumplir y estar sujeto a
                        estos términos y condiciones.
                    </h3>
                    <p class="fs-5 text m-4" style="text-align: justify;">Si tiene alguna pregunta o inquietud acerca de
                        estos
                        términos y condiciones, por favor, póngase en contacto con nosotros a través de la
                        información de contacto proporcionada en nuestra página web.
                    </p>
                </article>
            </div>
            <!-- <div class="col-lg-3">
                                <div class="d-flex align-items-center mt-lg-5 mb-4">
                                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                        alt="..." />
                                    <div class="ms-3">
                                        <div class="fw-bold">Valerie Luna</div>
                                        <div class="text-muted">News, Business</div>
                                    </div>
                                </div>
                            </div> -->
        </div>
    </div>
</section>
{% endblock %}